*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  background-color: #090b1a;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  background-color: #1b1938;
  height: 72rem;
  margin: 0 2rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
}

.container p {
  color: rgba(255, 255, 255, 0.75);
}

.container .text--div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 2rem;
}

.container .text--div h2 {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem;
}

.container .text--div h2 span {
  color: #aa5cdb;
}

.container .text--div p {
  font-size: 1.5rem;
  padding: 1rem;
}

.container .stats--div {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.container .stats--div p {
  font-size: 1.2rem;
}

.container .stats--div li {
  padding-bottom: 1.6rem;
}

@media (min-width: 480px) {
  .container {
    height: 100%;
    margin: 8rem 2rem 8rem 2rem;
  }
}

@media (min-width: 700px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 36rem;
    width: 100rem;
    overflow: hidden;
  }
  .container img {
    max-width: 50%;
  }
  .container .text--div {
    text-align: left;
    margin: 0 5rem;
  }
  .container .stats--div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    margin: 0 5rem 0 0;
  }
  .container .stats--div h3 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */