*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  background-color: hsl(233, 47%, 7%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  background-color: hsl(244, 38%, 16%);
  height: 72rem;
  margin: 0 2rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 2fr;
  p {
    color: hsla(0, 0%, 100%, 0.75);
  }
  .text--div {
    // background-color: turquoise;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2rem;

    h2 {
      font-size: 3rem;
      line-height: 3rem;
      padding: 1rem;
      span {
        color: hsl(277, 64%, 61%);
      }
    }
    p {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }

  .stats--div {
    // background-color: violet;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem;

    p {
      font-size: 1.2rem;
    }

    li {
      padding-bottom: 1.6rem;
    }
  }
}

@media (min-width: 480px) {
  .container {
    height: 100%;
    margin: 8rem 2rem 8rem 2rem;
  }
}

@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    height: 36rem;
    width: 100rem;
    overflow: hidden;

    img {
      max-width: 50%;
    }
    .text--div {
      text-align: left;
      margin: 0 5rem;
    }
    .stats--div {
      flex-direction: row;
      text-align: left;
      margin: 0 5rem 0 0;
      h3 {
        font-size: 2rem;
      }
    }
  }
}
